body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 14px;
}

a {
    color: #52b6ec;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

/* Margins */
.margin-top {
    margin-top: 45px;
}

.margin-bot {
    margin-bottom: 45px;
}

.margin-bot-sm {
    margin-bottom: 20px;
}

/* Background colors */
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

/* Bootstrap Overrides */
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

/* Icons for Skills */
.icon-md {
    font-size: 24px;
    height: 68px;
    width: 68px;
    line-height: 68px;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 10px;
}

.icon-color1 {
    background-color: #e74c3c;
}

.icon-color2 {
    background-color: #3498db;
}

.icon-color3 {
    background-color: #1abc9c;
}

.icon-color4 {
    background-color: yellow;
}

/* Font Styles */
.heavy {
    font-weight: 300;
}

.large-p {
    font-size: 14px;
}

.large-h1 {
    font-size: 80px
}

.large-h3 {
    font-size: 25px
}

.large-h4 {
    font-size: 20px
}

/* Style for Sections */
#intro {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
    padding: 100px 0;
}

#skills {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    padding-top: 20px;
}

#projects {
    background-color: #fcf8e3; /* Light Yellow */
    color: #555555;
    padding-top: 20px;
}

#contact {
    background-color: #ffffff; /* White */
    color: #555555;
    padding-top: 20px;
}

/* Other Custom Elements */
.xl {
    width: 75%
}

/* Contact Email */
.contact-email a {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.contact-email a:hover,
.contact-email a:focus {
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

/* Contact Numbers */
.contact-numbers {
    font-size: 2rem;
    font-weight: 400;
}

/* Contact Social */
.contact-social {
    list-style: none;
    display: inline-block;
    margin: 4.2rem 25px 0 0;
    font-size: 4.2rem;
}

.contact-social li {
    margin-right: 15px;
    padding-left: 0;
    display: inline-block;
}

.contact-social li a {
    color: #337ab7;
    border: none !important;
}

.contact-social li a:hover,
.contact-social li a:focus {
    color: #337ab7;
}
